@charset "ISO-8859-1";


body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:large;
	background-image: linear-gradient(to bottom right, #dbdbdb,#8ec6c5);
	margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    padding-right: 10px;
	padding-left: 10px;    	
}

input[type="file"]{
	display:inline-block;
}

h1{
	fonty-family:Verdana, Tahoma, "sans-serif"; 
}


#LoadScreen{
	background-color: white;
	Width:100px;
	height:100px;
	overflow: hidden;
	box-shadow: 0 0 20px black;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	right:50%;
	transform: translate(-50% ,-50%);
	display:none;
}

#LoadScreen img{
	 display: block;
     margin: 0 auto;
     transform: translate(0%, 45%);
}

#SubmitToUpload{
	
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  font-size:large;
  background-color: #30475e;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 0px 0px;
  opacity: 1;
  transition: 0.3s;
  border-radius: 4px; 
  
}

.button:hover {opacity: 0.6}

.frame{
	border-radius: 4px;
	padding-top: 20px;
	padding-bottom: 20px;  
}